In [1]:
#Conexion al Cluster
import redshift_connector
conn = redshift_connector.connect(
    host='primer-redshift.cayumx8bbo8y.us-west-2.redshift.amazonaws.com',
    database='markethousing',
    user='awsuser',
    port=5439,
    password='Aws-grupo12'
  )

In [2]:
# Creamos el objeto cursor
cursor = conn.cursor()

In [14]:
# Query de prueba
cursor.execute("select * from estado")

In [15]:
estados: pd.DataFrame = cursor.fetch_dataframe()
estados.head()

  id_estado codigo_estado nombre_estad
0         1            CA   California
1         2            TX        Texas
2         3            NY     New York
3         4            FL      Florida
4         5            IL     Illinois

In [5]:
import pandas as pd

In [7]:
cursor.execute("select * from pobreza_estados where id_estado = 'CA';")
result: pd.DataFrame = cursor.fetch_dataframe()
print(result)

   id_estado      estado fecha personas_en_riesgo porcentaje_riesgo_pobreza
0         CA  California  2020               4318                      11.0
1         CA  California  2019               3.98                      10.1
2         CA  California  2018               4664                      11.9
3         CA  California  2017               4759                      12.1
4         CA  California  2016               5435                      13.9
5         CA  California  2015               5441                      13.9
6         CA  California  2014               6112                      15.8
7         CA  California  2013               5754                      15.1
8         CA  California  2012               6015                      15.9
9         CA  California  2011               6352                      16.9
10        CA  California  2010               6073                      16.3
11        CA  California  2009               5638                      15.3
12        CA  California  2008               5344                      14.6
13        CA  California  2007               4589                      12.7
14        CA  California  2006               4427                      12.2
15        CA  California  2005               4716                      13.2
16        CA  California  2004               4724                      13.2
17        CA  California  2003               4634                      13.1
18        CA  California  2002               4605                      13.1
19        CA  California  2001               4321                      12.6
20        CA  California  2000               4294                      12.7
21        CA  California  1999               4733                      14.0
22        CA  California  1998               5118                      15.4
23        CA  California  1997               5459                      16.6
24        CA  California  1996               5472                      16.9
25        CA  California  1995               5342                      16.7
26        CA  California  1994               5658                      17.9
27        CA  California  1993               5803                      18.2
28        CA  California  1992               5197                      16.4
29        CA  California  1991               4825                      15.7
30        CA  California  1990               4128                      13.9
31        CA  California  1989               3772                      12.9
32        CA  California  1988               3687                      13.2
33        CA  California  1987               3443                      12.3
34        CA  California  1986               3453                      12.7
35        CA  California  1985               3596                      13.6
36        CA  California  1984               3375                      13.2
37        CA  California  1983               3755                      14.9
38        CA  California  1982               3475                      14.1
39        CA  California  1981               3216                      13.3
40        CA  California  1980               2619                      11.0

In [8]:
result.head()

  id_estado      estado fecha personas_en_riesgo porcentaje_riesgo_pobreza
0        CA  California  2020               4318                      11.0
1        CA  California  2019               3.98                      10.1
2        CA  California  2018               4664                      11.9
3        CA  California  2017               4759                      12.1
4        CA  California  2016               5435                      13.9